.abc{
    background-color: black;
}
.nav1{
    text-decoration: none;

    }
    .nav1 li a:hover  {
   text-decoration: underline;
   color:rgba(255, 255, 0, 0.925);
    }
    .box1{
        background-color: black;
        height: 600px;
    

    }
    .box1-0{
        
        text-align: center;
        padding-top: 250px;
        font-size:100px;
font-family: serif;  
text-decoration: underline 5px; 
 }
 .box1-1{
        
    text-align: center;
    font-size:50px;
font-family: serif;   
}
#slide1{
    background-color: black;
    height: 130px;
    margin-left: 125px;
    padding-top: 40px;
    font-size:30px;
font-family: serif; 

}
#slide2{
    background-color: rgb(245, 180, 16);
    height: 130px;
    padding-top: 40px;
    font-size:30px;
font-family: serif; 

}
#slide3{
    background-color: rgb(235, 188, 72);
    height: 130px;
    padding-top: 40px;
    font-size:30px;
font-family: serif; 
}
#slide4{
    background-color:rgb(223, 185, 91);
    height: 130px;
    padding-top: 40px;
    font-size:30px;
    font-family: serif; 
}
 .textbox{
    font-size:20px;
    font-family: serif;
 }
 .btn1{
    color: white;
    background-color: black;
    padding: 8px 29px;
    border: 1px solid gray;
    border-radius: 3px;
    font-size: 15px;
    cursor: pointer;
    font-family: serif;
    margin: auto;
    
}
.textservice{
    color: rgb(245, 180, 16);
    text-decoration: underline 2px;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;

}
.main{
    width: 100%;
    height: 100vh;
    background: black;
}
.box-5{
    width: 100%;
    height: 300px;
    position: relative;
    cursor: pointer;
    margin-top: 20px;
    overflow: hidden;

}
.box-5 img{
    width: 100%;
    height: 100%;
    transition: all .5s;


}
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    background: rgba(255,255,255,0.5);
    flex-direction: column;
    color: white;
    clip-path: circle(0% at 50% 50%);
    transition: all .5s;

}
.box-5:hover .content{
    clip-path: circle(100% at 50% 50%);

}
.box-5:hover img{
    filter: blur(10px);
    transform: scale(1.1);

}
.content p{
    margin: 10 0 0 15px;
}
.ourservices{
    color: rgb(245, 180, 16);
    font-family: serif;
    font-size: 100px;
    text-decoration: underline 5px;

}
.box-6{
    height: 420px;
    background-color: black;
}
.box-7{
    height: 300px;
    background-color: rgb(245, 180, 16);
}

.ourstate{
    background-color: rgb(245, 180, 16);
    height: 300px;
    padding-top: 150px;
    text-decoration: underline 5px;
}
.ourstate1{
    background-color: black;
    height: 300px;
    padding-top: 100px;
}
.ourstate2{
    font-size: 70px;
    font-family: serif;
}
.contact{
    background-color: black;
    height: 10px;
}
.image{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    height: 270px;

}